@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: #111111;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 125px;
  /* background-color: tomato; */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

header ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero {
  background-image: url(../imgdeco/tentativa3.png);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

main {
  margin-top: 120px;
  padding: 0 40px;
}

main > h1 {
  margin-left: 40px;
  position: relative;
  display: inline;
}

main h1::before {
  content: "";
  width: 20px;
  height: 12px;
  background-color: #840B2C;
  display: inline;
  position: absolute;
  left: -30px;
  top: 48%;
}

.groups {
  margin-top: 80px;
  height: 10000px;
}

.title-groups {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.groups h2{
  text-align: center;
}

.ball {
  background-image: url(../imgdeco/ball.png);
  width: 27px;
  height: 23.8px;
  background-repeat: no-repeat;
  background-size: contain;
}

.title-groups {
  margin-bottom: 40px;
  font-weight: 600;
}

.container-groups {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 40px 10px;
  padding: 20px;
  margin: 0 auto;
}

.container-groups .group {
  width: 250px;
  background-color:#F4F4F4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  padding: 20px 30px;
}

.container-groups h3, p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #404040;
  font-weight: 500;
}

.container-groups h3 {
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 600;
}

.container-groups .team {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.container-groups img {
  width: 40px;
  border: 1px solid #dedede;
  border-radius: 50%;
}

.teams {
  margin-top: 120px;
}


.container-teams {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column: 1/8;
}

.qualified-team img {
  width: 60px;
  border-radius: 50%;
  border: 1px solid #dedede;
  cursor: pointer;
}

