@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  background-image: linear-gradient(135deg, #840B2C, #640F2B , #3F0015);
}

.hidden {
  visibility: hidden;
}

h2 {
  color: #ededed;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

#title-cup {
  font-size: 18px;
  font-weight: 300;
  margin: 30px;
}

#title-table {
  text-align: center;
  margin: 50px 0;
}

.table-games, .classification {
  background-color: #f7f7f7;
  width: 90%;
  border-radius: 8px;
  margin: 0 auto 40px;
  padding: 20px;

  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.table-games h3 {
  color: #404040;
  font-size: 18px;
  border-bottom: 1px solid #dedede;
  font-weight: 400;
  text-align: center;
  padding-bottom: 15px;
  margin: 30px 0 10px;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 5fr 2fr;
  margin-bottom: 10px;

  color: #404040;
}

.game:last-child {
  border: none;
  margin-bottom: 0;
}

.title  span {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.game {
  border-bottom: solid 1px #dedede;
  padding: 0 5px 5px;
  align-items: center;
}

input {
  width: 20px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  outline: none;
  text-align: center;
}

span, div {
  text-align: center;
}

img {
  width: 25px;
  border: solid 1px #9c9c9c;
  border-radius: 50%;
}

.confrontation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.team {
  display: flex;
  gap: 10px;
}

.team-one {
  justify-content: end;
}

.team-two {
  justify-content: start;
}

.local {
  justify-self: start;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}

.classification {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  /* width: 80%; */
  font-size: 16px;
  padding: 60px;
}

.container-classification {
  padding: 0 20px;
}

.table-classification {
  width: 600px;
  margin-bottom: 40px/* não sei não */
}

 .table-classification h3 {
  text-align: start;
  color: #2e2e2e;
  margin-bottom: 15px;

} 

.teams-classification {
  display: grid;
  grid-template-columns: 6fr repeat(8, 1fr);
  padding: 5px;
  border-bottom: solid 1px #dedede;
  color: #404040;
}

.head-classi {
  padding-left: 2px;
}

.teams-classification .equipe {
  justify-self: start;
}

.teams-classification span {
  align-self: center;
}

.teams-classification .first-line {
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* .teams-classification img {
  width: 20px;
} */

.points {
  font-weight: bold;
}

.teams-classification:last-child {
  border-bottom: none;
}

.container-qualifiers {
  width: 90%;
  margin: 0 auto;
  /* background-color: blueviolet; */
}

.octaves-container, .quarterfinals, .semifinals, .finals {
  padding: 50px 60px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 40px;

  margin: 0 auto 50px;
  background-color: #400015;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  /* border: 1px solid blue; */
}

.octaves-container h5, .quarterfinals h5, .semifinals h5, .finals h5, .decorative-title {
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 30px;
  color: #dedede;
  text-align: center;
  position: relative;
}

.container-qualifiers input {
  height: 20px;
}

.penalti input {
  height: 15px;
  width: 15px;
}

.qualifiers {
  width: 274px;
  background-color: #f7f7f770;
  border-radius: 8px;
  padding: 15px;
  color: #000;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.qualifiers h4 {
  margin-bottom: 20px;
  background-color: #ffffff80;
  border-radius: 16px;
  padding: 5px;;
}

.date-qualifiers {
  font-size: 12px;
  margin-bottom: 20px;
}

.person {
  background-color: #840B2C;
  padding: 4px;
  border-radius: 16px;
  color: white;
}

.qualifier-match {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background-color: #ffffff80;
  border-radius: 16px;
}

.qualifier-local {
  font-size: 12px;
  margin: 5px auto;
}

.message {
  font-size: 12px;
  color: #9b111e;
}

.hiddenFields {
  display: none;
}

.decorative {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100%;

  background-size: cover;
  background-position: center;
}

/* .decorative img {
  width: 60%;
  border-radius: 0;
  border: none;
} */

.green-right img {
  border-radius: 0;
  border: none;
/*   width: 25px; ;

  position: absolute;
  top: 2rem;
  right: 1.5rem; */
  width: 100%;
}

.green-right {
  width: 100px;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-size: cover;
  background-position: center;
}

.decorative-title {
  position: relative;
}

.decorative-title img {
  width: 8rem;
  border: none;
  border-radius: 0;
  position: absolute;
}

.decorative-title .left {
  top: 15%;
  right: 110%;
}

.decorative-title .right {
  top: 15%;
  left: 110%;
  transform: rotate(180deg);
}

.semifinals, .finals {
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
}

.semi1 {
  justify-self: end;
}

.semi2 {
  justify-self: start;
}

.taca img {
  width: 105px;
  border: none;
  border-radius: 0;
}

.hero {
  background-image: url(../imgdeco/fria.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  border: none;
  border-radius: 0;
  object-fit: cover;
  background-repeat: no-repeat;
}

.container-table {

}

body {
  max-width: 1400px;
  margin: 0 auto;
}
